<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>Search Document</h3>
    <form action="/tasks/searchs" method="get">
        <div class="mb-3">
            <label for="document">Write a document:</label>
            <input id="document" class="form-control rounded-0 bg-dark text-white" type="number" name="document"
                placeholder="Document" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <a class="btn btn-primary" href="/">Search All Clients </a>  
</div>